<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="de.appplant.cordova.plugin.background-mode"
        version="0.2.0dev">

    <name>BackgroundMode</name>

    <description>A bunch of background mode plugins for Cordova 3.x.x</description>
    <keywords>background, ios, windows phone 8, wp8</keywords>
    <license>GPL v2 License</license>

    <author>Sebastián Katzer (github.com/katzer)</author>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
    		<feature name="BackgroundMode">
    			<param name="ios-package" value="APPBackgroundMode"/>
                <!-- Needs to be initialiced onload since the plugin has no callable js interface -->
                <param name="onload" value="true" />
    		</feature>
        </config-file>

        <!-- The app is able to run in background through location-tracking mode -->
<!--         <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>location</string>
            </array>
        </config-file> -->

        <!-- Hint is displayed to user by first start -->
        <config-file target="*-Info.plist" parent="NSLocationUsageDescription">
            <string>Is required -for iOS 6 and above- to run the app in background!</string>
        </config-file>

    	<header-file src="src/ios/APPBackgroundMode.h" />
    	<source-file src="src/ios/APPBackgroundMode.m" />
    </platform>
</plugin>
